<div>
    <div class="container">
        <div class="row">
            <h1 class="col-md-12" style="text-align: center">
                This is my Barebone webapp to help you out with a good start
            </h1>
        </div>
        <div>
            <div class="row">
                <h2 class="col-md-12" style="text-align: center">These are already pre-installed</h2>
            </div>

            <hr/>

            <div class="row">
                <a class="col-md-6 home-tech-panel" href="https://angularjs.org/" target="_blank">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <img src="assets/images/logos/angularjs.png" alt="AngularJS" height="55px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="list-group-item-text tech-list-item-text">AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
                        </div>
                    </div>
                </a>
                <a class="col-md-6 home-tech-panel" href="http://expressjs.com/" target="_blank">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <img src="assets/images/logos/express.png" alt="Express" height="55px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="list-group-item-text tech-list-item-text">Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications.</p>
                        </div>
                    </div>
                </a>
            </div>
            <br/>
            <div class="row">
                <a class="col-md-6 home-tech-panel" href="https://www.mongodb.org/" target="_blank">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <img src="assets/images/logos/mongodb.png" alt="MongoDB" height="55px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="list-group-item-text tech-list-item-text">MongoDB is the leading NoSQL database, empowering businesses to be more agile and scalable.</p>
                        </div>
                    </div>
                </a>
                <a class="col-md-6 home-tech-panel" href="https://nodejs.org/" target="_blank">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <img src="/assets/images/logos/nodejs.png" alt="Node.js" height="55px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="list-group-item-text tech-list-item-text">Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>